<html>
<title> Acropolis Institute of technology and Research </title>
<body>
<p align="centre"><font size="5" color="blue">Acropolis Institute of technology and Research </font size></p><hr/>
<font size="4" color="red">establishment</font size>         - in 2005 <br>
<font size="4" color="red">director</font size>              - Dr. Shashi Chandra Sharma <br>
<font size="4" color="red">Affiiations</font size>           - RGPV,DAVV <br>
<font size="4"color="red">undergraduate courses</font size>- <br>  B.E [In computer science,civil,mechanical,electronics and communication,Info.and technology] <br>
                        BBA [marketing,finance,human resourcce,foreign trade,digitalmarketing]<br>
                        B.Sc[agriculture,forensic science , computer science]<br>
                        B.Pharma <br> 
                        BA
                        B.Com <br>
<font size="4" color="red">postgraduation courses</font size> - M.tech[computer science,embedded systems & vlsi design ]<br>
      
</body>
</html>
