{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="{% static '/notes/style.css' %}">
    <link href='https://fonts.googleapis.com/css?family=Inconsolata' rel='stylesheet'>
    <link rel="shortcut icon" type="image/x-icon" href="favicon.ico" />
    
    <!-- title -->
    {% if title %}
        <title> Notes - {{ title }} </title>
    {% else %}
        <title> Notes App </title>
    {% endif %}

</head>
<body>
    <div>
    <nav id="nav">
        <ul>
            <li><a class="navbar-elements" href="{% url 'notes-home' %}">HOME</li>  
            <li><a class="navbar-elements" href="{% url 'notes-about' %}">ABOUT</li>  
            <li><a class="navbar-elements" href="{% url 'syllabus' %}" >SYLLABUS</a></li>
            {% if user.is_authenticated %}
                <li><a class="navbar-elements" href="{% url 'profile' %}">PROFILE</a></li>
                <li><a class="navbar-elements" href="{% url 'notes-filter' %}">FILTER</li>  
                <li><a class="navbar-elements" href="{% url 'notes-create' %}" >UPLOAD</a></li>
                <li><a class="navbar-elements" href="{% url 'logout' %}" >LOGOUT</a></li>
            {% else %}
                <li><a class="navbar-elements" href="{% url 'user-register' %}" >SIGNUP</a></li>
                <li><a class="navbar-elements" href="{% url 'login' %}" >LOGIN</a></li>
            {% endif %}
        </ul>
    </nav>
    </div>
    <div class="container">
    {% block content %}{% endblock content %}
    </div> 
    
    <!-- About Section -->
    <div class="footer">
        <p>--------------------------------------------------------------</p>
        <p> Made by Team Corona Virus </p>
    </div>
    <!-- js -->
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>

</body>
</html>