{% extends "base.html" %}
{% block content %} 
    {% if messages %}
        {% for message in messages %}
            <div class="alert alert-{{ message.tags }}">
                {{ message }}
            </div>
        {% endfor %}
    {% endif %}
    {% comment %} <h3>This website contains Notes of various branches and semester. <br>
        We have tried to collect as many notes as possible to kickstart this little project</h3>
    <p>this is a website made by a medicapsian for medicapsian</p>
    <p>for the time of need and suffering i.e. Semester Exams or Mid-Sems</p>
    {% endcomment %} 
    {% for post in posts %}
        <h4> {{ post.title }} </h4>
        <p> uploaded by {{ post.uploader }} on {{post.date_posted}} </p>
    {% endfor %}
{% endblock content %}