<html>
<title> Shri GovindramInstitute </title>
<body>
<p align="centre"><font size="5" color="blue"> Shri Govindram Institute of Science and Technology </font size></p><hr/>
<font size="4" color="red">establishment</font size>         - in 1952 <br>
<font size="4" color="red">director</font size>              - Rakesh Saxena <br>
<font size="4" color="red">Affiiations</font size>           - RGPV <br>
<font size="4"color="red">undergraduate courses</font size><br> -  B.Tech/B.E [In computer science,bio medical,civil,mechanical,electronics and communication,Info.and technology] <br>
                        B.Pharma <br> 
<font size="4" color="red">postgraduation courses</font size> - M.tech[computer science,embedded systems & vlsi design ]<br>
      M.Sc [ applied mathematics computer sciece,chemistry,physics]<br>
MBA<br>
MCA<BR>
M.Pharma [industrial pharmacy, medical and pharmaceutical]<BR>
</body>
</html>
