{% extends 'base.html' %}
    {% block content %}
      {% for post in posts %}
      <article class="media content-section">
      <img class="rounded-circle article-img" src="{{ post.uploader.profile.image.url }}">
        <div class="media-body">
          <div class="article-metadata">
            <p class="mr-2">{{ post.uploader }}</p>
            <small class="text-muted">{{ post.date_posted }}</small>
          </div>
          <h2><a class="article-title" href="{% url 'notes-detail' post.id %}">{{ post.title }}</a></h2>
          <p class="article-content">{{ post.content }}</p>
        </div>
      </article>
  {% endfor %}
    {% endblock content %}